@using Olympiad.Areas.Admin.Models
@model Olympiad.Areas.Admin.Models.StudentViewModel
@{
    ViewBag.Title = "Добавление студента";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Добавление студента</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentName)
                @Html.ValidationMessageFor(model => model.StudentName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentSurname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentSurname)
                @Html.ValidationMessageFor(model => model.StudentSurname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentPatronymic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentPatronymic)
                @Html.ValidationMessageFor(model => model.StudentPatronymic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Course, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Course, new { type = "number", min = "1", max="6", step = "1" })
                @Html.ValidationMessageFor(model => model.Course)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Group, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Group)
                @Html.ValidationMessageFor(model => model.Group)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Specialty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Specialty)
                @Html.ValidationMessageFor(model => model.Specialty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text", 1))
                @Html.ValidationMessageFor(model => model.Department.DepartmentName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
