@model IEnumerable<Olympiad.Models.StudentTeamViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="hidden-xs hidden-sm hidden-md hidden-lg">
            @Html.DisplayNameFor(model => model.StudentTeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </th>
        <th>
            @Html.Label("Студент")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hidden-xs hidden-sm hidden-md hidden-lg">
            @Html.DisplayFor(modelItem => item.StudentTeamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentSurname)
            @Html.DisplayFor(modelItem => item.Student.StudentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentTeamID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentTeamID })
        </td>
    </tr>
}

</table>
