@model Olympiad.Areas.Admin.Models.TeamViewModel

@{
    ViewBag.Title = "Удаление команды";
}

<h3>Вы уверены, что хотите удалить эту команду?</h3>
<div>
    <h4>Удаление команды</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="hidden-xs hidden-sm hidden-md hidden-lg">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>

        <dd class="hidden-xs hidden-sm hidden-md hidden-lg">
            @Html.DisplayFor(model => model.TeamID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
