@model Olympiad.Models.OlympiadStudentViewModel

@{
    ViewBag.Title = "Удаление результатов студента";
}

<h3>Вы уверены, что вы хотите удалить этот результат?</h3>
<div>
    <h4>Удаление результатов студента</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="hidden-xs hidden-sm hidden-md hidden-lg">
            @Html.DisplayNameFor(model => model.OlympiadStudentID)
        </dt>

        <dd class="hidden-xs hidden-sm hidden-md hidden-lg">
            @Html.DisplayFor(model => model.OlympiadStudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlympiadID)
        </dt>

        <dd>
            @ViewBag.Olympiad
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @ViewBag.Student
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorID)
        </dt>

        <dd>
            @ViewBag.Instructor
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
