@model IEnumerable<Olympiad.Models.OlympiadStudentViewModel>

@{
    ViewBag.Title = "Список результатов студентов";
}

<h4>@ViewBag.Title</h4>

<p>
    @Html.ActionLink("Добавить новый результат", "Create")
</p>
<table class="table">
    <tr>
        <th class="hidden-xs hidden-sm hidden-md hidden-lg">
            @Html.DisplayNameFor(model => model.OlympiadStudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlympiadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hidden-xs hidden-sm hidden-md hidden-lg">
            @Html.DisplayFor(modelItem => item.OlympiadStudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Olympiad.OlympiadName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentSurname)
            @Html.DisplayFor(modelItem => item.Student.StudentName)
            @Html.DisplayFor(modelItem => item.Student.StudentPatronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.InstructorSurname)
            @Html.DisplayFor(modelItem => item.Instructor.InstructorName)
            @Html.DisplayFor(modelItem => item.Instructor.InstructorPatronymic)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.OlympiadStudentID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.OlympiadStudentID })
        </td>
    </tr>
}

</table>
